[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "<8.0"
ipdb = "*"
kyoto-reader = {editable = true,path = "."}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
recommonmark = "*"
twine = "*"
sphinx-rtd-theme = "*"
autopep8 = "*"
typing-extensions = "*"

[packages]

[requires]
python_version = ">=3.7.2"
