[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipdb = "*"
kyoto-reader = {editable = true,path = "."}
sphinx = "*"
sphinx-autobuild = "*"

[packages]

[requires]
python_version = "3.6"
